@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Chewy&family=Fredoka:wght@300;400;700&family=Luckiest+Guy&display=swap');


body {
    padding-left: 20%;
    padding-right: 20%;
    background-color: #ffffff;    
    text-align: auto;
  }

  p {
    font-size: 1em;
    color: #000000;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
}

h1 {
    font-size: 4.25em;
    line-height: 1em;
    color: #000000;
    font-family: 'Chivo', sans-serif;
    font-weight: 800; /* ExtraBold */
    font-style: italic;
}

h2 {
    font-size: 1.25em;
    line-height: 1em;
    text-align: right;
    font-family: 'Space Mono', monospace;
    color:rgb(91, 91, 91);
    text-decoration: none;
    font-weight: 800; /* ExtraBold */
    padding-left: 30%;
}

h3 {
    font-size: 1.25em;
    line-height: 0.5em;
    text-align: right;
    color:rgb(160, 160, 160);
    font-family: 'Space Mono', monospace;
    text-decoration: none}


.home-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('home.png') no-repeat center center;
  background-size: contain;
}