body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #c1cdff;
    text-align: auto;
  }

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2em;
    color: #000000;
    font-family: monospace;
    text-decoration: underline wavy;
}

h2 {
    font-size: 1.5em;
    color: #000000;
    font-family: monospace;
    text-decoration: none;
}