body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #d3dcff;
    text-align: auto;
  }

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2em;
    color: #000000;
    font-family: monospace;
    text-decoration: underline wavy;
}

h2 {
    font-size: 1.5em;
    color: #ffffff;
    font-family: monospace;
    text-decoration: none;
}

h2 a {
    color: #000000;
    text-decoration: underline;
}

<style>
  .home-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('home.png') no-repeat center center;
    background-size: contain;
  }
</style>