/*desktop*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Chewy&family=Fredoka:wght@300;400;700&family=Luckiest+Guy&display=swap');

#content {
    width: auto;
    line-height: 1.5em;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 5px;
    font-family: monospace;
}

hr {
    height: 5px;
    background: linear-gradient(to right, rgb(255, 184, 184), rgb(96, 96, 220));
    border: 5px;
    border-radius: 5px;
    margin: 40px;
}

iframe {
    width: 70%;
    height: 50%;
    border: white;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

body {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #c1cdff;
    text-align: auto;
  }

.img-container {
    width: 100%;
  }
  
  img {
    margin: auto;
    display: block;
  }

  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

h1 {
    display: inline-block;
    animation: bounce 0.5s infinite alternate ease-in-out;
    padding-top: 50px;
    font-size: 2em;
    color: #000000;
    font-family: 'Fredoka', sans-serif;;
    text-decoration: none;
}

h2  {
    font-size: 2em;
    text-align: right;
    color: #000000;
    font-family: 'Fredoka', sans-serif;;
    text-decoration: none;
}

h3 {
    padding-top: 20px;
    text-align: center;
}

h4 {
    font-size: 1.5em;
    color: #000000;
    font-family: monospace;
    text-decoration: wavy underline;
}

h5 {
    line-height: 1em;
    color: grey;
    text-align: center;
}

p {
    font-size: 0.8em;
    color: #3f5898;
    font-family: monospace;
    line-height: 1.8em;
    padding-left: 50px;
    padding-right: 50px;
}

#nav-bar {
    display: flex;
    flex-direction: row; 
    background: linear-gradient(to right, rgb(255, 184, 184), rgb(96, 96, 220));
}

.nav-button {
    font-size: 0.75em;
    line-height: 2em;
    margin: 0.3px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.nav-button a {
    color: white;
    text-decoration: none;
}

/*phone*/
@media (orientation: portrait) {
    #content {
        width: 100%;}
    }